<ul class="main-menu">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/Grid/Array">Array Grid</a>
    </li>
    <li>
        <a href="/Grid/Edit">Edit Grid</a>
    </li>
    <li>
        <a href="/Bind">Bind Grid</a>
    </li>
    <li>
        <a href="/Bind/Classes">Bind Grid With Classes</a>
    </li>
</ul>

<div style="clear:both;"></div>